<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>이벤트 신청</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    .form-border {
      border: 2px solid #007bff;
      border-radius: 15px;
      padding: 20px;
      margin-top: 20px;
    }

    input[type="checkbox"] {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    .field-error {
      border-color: #dc3545;
      color: #dc3545;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="form-border">
        <h2 class="text-center mb-4">이벤트 신청폼</h2>
        <form th:action="@{/v3/event}" th:object="${user}" method="post">
          <div class="form-group">
            <label for="name">이름:</label>
            <input type="text" id="name" name="name" th:field="*{name}" class="form-control" th:errorclass="field-error" placeholder="이름을 입력해 주세요." />
            <div class="field-error" th:errors="*{name}">
              이름 오류
            </div>
          </div>
          <div class="form-group">
            <label for="age">나이:</label>
            <input type="text" id="age" name="age" th:field="*{age}" class="form-control" th:errorclass="field-error" placeholder="나이를 입력해 주세요." />
            <div class="field-error" th:errors="*{age}">
              나이 오류
            </div>
          </div>
          <div class="form-group">
            <label for="membership">멤버십 여부:</label>
            <input type="checkbox" id="membership" name="membership" th:field="*{membership}" th:errorclass="field-error" class="form-control">
            <div class="field-error" th:errors="*{membership}">
              참여 여부 오류
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">제출</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
